.navbar-light .navbar-brand {color:black}
body{background-image:url(laptop.jpeg) ; background-size:cover;}
h2{color: white;font-size:60px;justify-content: center;text-:}
p{color: white;font-size:xx-large}
